doctype xml
rss(version="2.0", xmlns:atom="http://www.w3.org/2005/Atom")
  channel  
    title= title
    link= url
    description= description
    atom:link(href="#{ url }/feed.xml", rel="self", type="application/rss+xml")
    for article, slug in public.articles._data
      item
        title= article.title
        description <![CDATA[!{ article.description || partial("articles/" + slug) }]]>
        pubDate= new Date(article.date)
        link #{ url }/articles/#{ slug }
        guid(isPermaLink="true") #{ url }/articles/#{ slug }